work/AB_projekt_taidetav.doc
work/AB_projekt_taidetav.docx
work/docx_unpacked/
work/eap_edit/
work/lib/
work/projekti_juhend.txt
work/reference_texts/
work/report.txt
work/report_filled.txt
tools/*.class
